
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title>ServerPage</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div class="container" style="background-color:antiquewhite">
        <form class="form-horizontal" role="form" action="Save">
            <div class="form-group">
                <label for="conectType" class="col-sm-2 control-label">连接方式</label>
                <div class="col-sm-2">
                    <select class="form-control" name="conectType" id="conectType">
                        <option value="TCP">TCP</option>
                        <option value="HTTP">HTTP</option>
                        @*<option value="3">类型2</option>*@
                    </select>
                    @*<input type="text" class="form-control" id="conectType" name="conectType"
                        placeholder="连接方式">*@
                </div>
            </div>
            <div class="form-group">
                <label for="serverNm" class="col-sm-2 control-label">服务名</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="serverNm" name="serverNm"
                           placeholder="服务名">
                </div>
            </div>
            <div class="form-group">
                <label for="ipAddress" class="col-sm-2 control-label">IP地址</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="ipAddress" name="ipAddress"
                           placeholder="IP地址">
                </div>
            </div>
            <div class="form-group">
                <label for="point" class="col-sm-2 control-label">端口</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="point" name="point"
                           placeholder="端口">
                </div>
            </div>
            <div class="form-group">
                <label for="accountname" class="col-sm-2 control-label">帐套</label>
                <div class="col-sm-2">
                    <select class="form-control" name="accountid" id="accountid" onclick="GetAccout()">
                        <option value="1"></option>
                    </select>
                    @*<input type="text" class="form-control" id="accountid" name="accountid"
                        placeholder="帐套">*@
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">登录</button>
                </div>
            </div>
        </form>
    </div>
    <script type="text/javascript">
        $(function () {

        });

            function GetAccout()
            {
                $.ajax({
                    url: "@Url.Action("GetAccout")",
                    data: "conntype=" + $('#conectType').val() + "&ip=" + $('#ipAddress').val() + "&point=" + $('#point').val()+"",
                    type: 'Get',
                    async: false,
                    success: function (obj) {
                        if (obj.Flag == 1) {

                        }
                        else {
                            debugger
                            if (obj.data != null || obj.data != undefined) {
                                $('#accountid').children().remove();
                                //var o = JSON.parse(obj.data);
                                jQuery.each(obj.data, function (i, val) {
                                    $('#accountid').append(" <option value='" + val.accountid + "'>" + val.accountname + "</option>");
                                });
                                
                            }
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(XMLHttpRequest.status.toString() + ":" + XMLHttpRequest.readyState.toString() + "," + textStatus + errorThrown);
                    }
                });
            }
    </script>
</body>
</html>
