@Styles.Render("~/Content/bootstrapTable")
@Scripts.Render("~/bundles/bootstrapTable")
@Scripts.Render("~/bundles/bootstrapTableExport")
@Scripts.Render("~/bundles/searchmodal")
@Scripts.Render("~/bundles/TableModal")
@Scripts.Render("~/Scripts/lib/laydate/laydate")
@*<div class="container-fluid">*@
    <form  class="form-horizontal" action="ServerSave?sdp_pageid=ServerSetting&sdp_dsid=ServerSetting" method="post">
        @Html.ModelConvertoHtml("ServerSetting", "Server", false);
    </form>


<script type="text/javascript">
    $(function () {
        $('#ServerSetting_accountid').click(function () { GetAccout(); });
        });

    function GetAccout() {
        var connectype = GetInputValue("conectType");
        var ip = GetInputValue("ipAddress");
        var point = GetInputValue("point");
        $.ajax({
            url: "@Url.Action("GetAccout")",
            data: "conntype=" + connectype + "&ip=" + ip + "&point=" + point + "",
            type: 'Get',
            async: false,
            success: function (obj) {
                if (obj.Flag == 1) {

                }
                else {
                    if (obj.data != null || obj.data != undefined) {
                        let accountid = GetInputId("accountid");
                        $('#' + accountid).children().remove();
                        //var o = JSON.parse(obj.data);
                        jQuery.each(obj.data, function (i, val) {
                            $('#' + accountid).append(" <option value='" + val.accountid + "'>" + val.accountname + "</option>");
                        });

                    }
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(XMLHttpRequest.status.toString() + ":" + XMLHttpRequest.readyState.toString() + "," + textStatus + errorThrown);
            }
        });
    }
    function showMask() {
        $("#masklayer").css("height", $(document).height());
        $("#masklayer").css("width", $(document).width());
        $("#masklayer").show();
    }
            //隐藏遮罩层
    function hideMask() {

        $("#masklayer").hide();
    }
</script>
