<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <style type="text/css">
        .masklayer {
            position: absolute;
            top: 0px;
            filter: alpha(opacity=60);
            background-color: #777;
            z-index: 1002;
            left: 0px;
            opacity: 0.5;
            -moz-opacity: 0.5;
        }
        .error{
	color:red;
}
        .selectrow {
            background-color:cyan;
        }
    </style>
    <title>Clearmin template</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryvalidate")
    <script type="text/javascript">
        $(function () {
            Initilmenus();
            var actionmenuid = sessionStorage.getItem("actionmenuId");
            var o = $('#' + actionmenuid);
            o.addClass("active");
            if (o.parent().parent().hasClass("cm-submenu")) {
                o.parent().parent().addClass("pre-open");
            }
        });

        function Initilmenus()
        {
            var mdata = localStorage.getItem("m_data");
            if (mdata != "" && mdata != undefined && mdata != null) {
                loadmenuData(mdata);
                return;
            }
            $.ajax({
                url: "@Url.Action("LoadMenus")",
                data: "",
                type: 'Get',
                async: false,
                success: function (obj) {
                    if (obj.Flag == 1) {

                    }
                    else {
                        if (obj.data != null || obj.data != undefined) {
                            var datastr = JSON.stringify(obj.data);
                            localStorage.setItem("m_data", datastr);
                            loadmenuData(datastr);
                        }
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(XMLHttpRequest.status.toString() + ":" + XMLHttpRequest.readyState.toString() + "," + textStatus + errorThrown);
                }
            });
        }
        function loadmenuData(mdata) {
            var menudata = $('#menudata');
            //if (mdata != "" && mdata != undefined && mdata != null) {
            var objs = JSON.parse(mdata);
            jQuery.each(objs, function (i, val) {
                if (val.PmenuId == '' || val.PmenuId == null || val.PmenuId == undefined) {
                    if (val.ProgId == '' || val.ProgId == null || val.ProgId == undefined) {

                        menudata.append("<li class='cm-submenu'><a class='sf-window-layout'>" + val.MenuName + "<span class='caret'></span></a><ul id='" + val.MenuId + "'></ul></li>");
                    }
                    else
                        menudata.append("<li id='" + val.MenuId + "' onclick='menuClick(this)'><a href='/" + val.Package + "/ConverToPage?progId=" + val.ProgId + "'>" + val.MenuName + "</a></li>");
                }
                else {
                    $('#' + val.PmenuId).append("<li id='" + val.MenuId + "' onclick='menuClick(this)'><a href='/" + val.Package + "/ConverToPage?progId=" + val.ProgId + "'>" + val.MenuName + "</a></li>");
                }
            });
            //}
        }
        function menuClick(obj) {
            sessionStorage.setItem("actionmenuId", obj.id);
            //sessionStorage
            //$(".active").removeClass("active");
            //$(obj).addClass("active");
        }
        function showMask() {
            $("#masklayer").css("height", $(document).height());
            $("#masklayer").css("width", $(document).width());
            $("#masklayer").show();
        }
        //隐藏遮罩层
        function hideMask() {

            $("#masklayer").hide();
        }
    </script>
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body class="cm-no-transition cm-1-navbar">
    <input type="hidden" id="bwysdp_progid" />
    <input type="hidden" id="bwysdp_dsid" />
    <input type="hidden" id="bwysdp_ispreview"/>
    <div id="cm-menu">
        <nav class="cm-navbar cm-navbar-primary">
            <div class="cm-flex"><a href="/" class="cm-logo"></a></div>
            <div class="btn btn-primary md-menu-white" data-toggle="cm-menu"></div>
        </nav>
        <div id="cm-menu-content">
            <div id="cm-menu-items-wrapper">
                <div id="cm-menu-scroller">
                    <ul id="menudata" class="cm-menu-items">
                        <li id="0001" onclick="menuClick(this)"><a href="/Home/ConverToPage?progId=Index" id="Index" class="sf-house">主页</a></li>
                        @*<li>@Html.ActionLink("主页", "ConverToPage", "Home", new { progId = "Index" }, new { id = "Index" })</li>
                            <li>@Html.ActionLink("关于", "ConverToPage", "Home", new { progId = "About" }, new { id = "About" })</li>
                            <li>@Html.ActionLink("联系方式", "ConverToPage", "Home", new { progId = "Contact" }, new { id = "Contact" })</li>
                            <li class="cm-submenu">
                                <a class="sf-window-layout">供应链管理<span class="caret"></span></a>
                                <ul>
                                    <li class="active"><a href="/SCM/ConverToPage?progId=SaleOrder" id="SaleOrder">销售订单</a></li>
                                    <li><a href="/SCM/ConverToPage?progId=PurchaseOrder" id="PurchaseOrder">采购订单</a></li>
                                    <li><a href="/SCM/ConverToPage?progId=ShipOrder" id="ShipOrder">发货单</a></li>
                                </ul>
                            </li>
                            <li class="cm-submenu">
                                <a class="sf-window-layout">库存管理 <span class="caret"></span></a>
                                <ul id="0102">
                                    <li><a href="/Stock/ConverToPage?progId=StockReport" id="StockReport">库存报表</a></li>
                                    <li><a href="/Stock/ConverToPage?progId=StockAdjustment">库存调整</a></li>
                                    <li><a href="/Stock/ConverToPage?progId=StockSearch">库存查询</a></li>
                                </ul>
                            </li>
                            <li class="cm-submenu">
                                <a class="sf-window-layout">库存2 <span class="caret"></span></a>
                                <ul>
                                    <li><a href="/Stock/ConverToPage?progId=StockReport2" id="StockReport2">库存报表</a></li>
                                </ul>
                            </li>
                            <li>@Html.ActionLink("自定义页面", "ConverToPage", "Home", new { progId = "bordtest" }, new { id = "bordtest" })</li>
                            <li><a href="login.html" class="sf-lock-open">Login page</a></li>*@
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <header id="cm-header">
        <nav class="cm-navbar cm-navbar-primary">
            <div class="btn btn-primary md-menu-white hidden-md hidden-lg" data-toggle="cm-menu"></div>
            <div class="cm-flex">
                <h1>Home</h1>
                <form id="cm-search" action="@Url.Action("SearchFunc","DataBase")" method="post">
                    <input id="sdp_searchinput" type="search" name="q" autocomplete="off" placeholder="请输入功能ID或名称...">
                </form>
            </div>
            <div class="pull-right">
                <div id="cm-search-btn" class="btn btn-primary md-search-white" data-toggle="cm-search"></div>
            </div>
            <div class="dropdown pull-right">
                <button class="btn btn-primary md-notifications-white" data-toggle="dropdown"> <span class="label label-danger">23</span> </button>
                <div class="popover cm-popover bottom">
                    <div class="arrow"></div>
                    <div class="popover-content">
                        <div class="list-group">
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading text-overflow">
                                    <i class="fa fa-fw fa-envelope"></i> Nunc volutpat aliquet magna.
                                </h4>
                                <p class="list-group-item-text text-overflow">Pellentesque tincidunt mollis scelerisque. Praesent vel blandit quam.</p>
                            </a>
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading">
                                    <i class="fa fa-fw fa-envelope"></i> Aliquam orci lectus
                                </h4>
                                <p class="list-group-item-text">Donec quis arcu non risus sagittis</p>
                            </a>
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading">
                                    <i class="fa fa-fw fa-warning"></i> Holy guacamole !
                                </h4>
                                <p class="list-group-item-text">Best check yo self, you're not looking too good.</p>
                            </a>
                        </div>
                        <div style="padding:10px"><a class="btn btn-success btn-block" href="#">Show me more...</a></div>
                    </div>
                </div>
            </div>
            <div class="dropdown pull-right">
                <button class="btn btn-primary fa fa-fw fa-envelope" data-toggle="dropdown"></button>
            </div>
            <div class="dropdown pull-right">
                <button class="btn btn-primary md-account-circle-white" data-toggle="dropdown"></button>
                <ul class="dropdown-menu">
                    <li class="disabled text-center">
                        <a style="cursor:default;"><strong>@User.Identity.Name</strong></a>
                    </li>
                    <li class="divider"></li>
                    @*<li>
                        <a href="#"><i class="fa fa-fw fa-user"></i>@Html.GetMessage("Profile")</a>
                    </li>*@
                    <li>
                        <a href="#"><i class="fa fa-fw fa-cog"></i>@Html.GetMessage("SysSettings")</a>
                    </li>
                    <li>
                        <a href="@Url.Action("LoginOut","Home")"><i class="fa fa-fw fa-sign-out"></i>@Html.GetMessage("Signout")</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div id="global">
        @RenderBody()
        <footer class="cm-footer"><span class="pull-left">Connected as John Smith</span><span class="pull-right">&copy; PAOMEDIA SARL</span></footer>
    </div>
    <div id="masklayer" class="masklayer"></div>
    <div id="sdp_fuzzySearch" style="display:none;width:300px; height:260px;">
        <div class="panel-group">
            <div class="panel panel-success">
                <div class="panel-heading" style="background-color:#dff0d8; text-align:left; ">
                    <h4 class="panel-title">
                        <button type="button" class="close" onclick="Closefuzzydiv()">
                            ×
                        </button>
                    </h4>
                </div>
                <div class="panel-collapse in">
                    <div style="overflow:scroll;height:260px;">
                        <table class="table table-bordered" id="fuzzysearchtable">
                            @*<thead style="background-color:deepskyblue">
                                    <tr>
                                        <th>名称</th>
                                        <th>城市</th>
                                        <th>邮编</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Tanmay</td>
                                        <td>Bangalore</td>
                                        <td>560001</td>
                                    </tr>
                                    <tr>
                                        <td>Sachin</td>
                                        <td>Mumbai</td>
                                        <td>400003</td>
                                    </tr>
                                    <tr>
                                        <td>Uma</td>
                                        <td>Pune</td>
                                        <td>411027</td>
                                    </tr>
                                </tbody>*@
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="modal fade" id="sdp_Modal_com" tabindex="-1" role="dialog" aria-labelledby="sdp_ModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#dff0d8">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                    <h4 class="modal-title" id="sdp_ModalLabel">
                        模态框（Modal）标题
                    </h4>
                </div>
                <div id="sdp_comModal_body" class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        关闭
                    </button>
                    <button id="sdp_comModal_btnok" type="button" class="btn btn-primary">
                        提交更改
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    @*@Scripts.Render("~/bundles/jquery")*@
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(function () {
            $('#sdp_searchinput').keydown(function (e) {
                if (e.keyCode == "13") {
                    $('#cm-search').submit();
                }
            });
        });
    </script>
</body>
</html>